Dashboard Index

<table>
  <tr>
    <td>
      Total visits: <%= @current_visitor.visit_count %>
    </td>
    <td>
    </td>
  </tr>

  <tr>
    <td>
      Unique visits:
    </td>
    <td>
    </td>
  </tr>

  <tr>
    <td>
      Page views: <%= @current_visitor.pageview_count %>
    </td>
    <td>
    </td>
  </tr>