Dashboard Index

<table>
  <tr>
    <td>
      Total visits:
    </td>
    <td>
    </td>
  </tr>

  <tr>
    <td>
      Unique visits:
    </td>
    <td>
    </td>
  </tr>

  <tr>
    <td>
      Total visits:
    </td>
    <td>
    </td>
  </tr>

<%= @referer.inspect %>

<%= @remote_ip %>