Dashboard Index

<table>
  <tr>
    <td>
      Total visits:
    </td>
    <td>
    </td>
  </tr>

  <tr>
    <td>
      Unique visits:
    </td>
    <td>
    </td>
  </tr>

  <tr>
    <td>
      Average bounce:
    </td>
    <td>
    </td>
  </tr>