<h1>Analytics Dashboard</h1>

<table>
  <tr>
    <td>
      Total visits: <%= Visitor.total_visits %>
    </td>
    <td>
    </td>
  </tr>

  <tr>
    <td>
      Unique visitors: <%= @total_visits %>
    </td>
    <td>
    </td>
  </tr>

  <tr>
    <td>
      Total page views: <%= Visitor.total_pageviews %>
    </td>
    <td>
    </td>
  </tr>