Dashboard Index

<table>
  <tr>
    <td>
      Total visits: <%= Visitor.total_visits %>
    </td>
    <td>
    </td>
  </tr>

  <tr>
    <td>
      Unique visits: <%= @total_visits %>
    </td>
    <td>
    </td>
  </tr>

  <tr>
    <td>
      Page views: <%= Visitor.total_pageviews %>
    </td>
    <td>
    </td>
  </tr>