<% @users.each do |user| %>

  <% if user != current_user %>

    <div class='user_box'>
      <table>
        <tr>
          <td><%= image_tag(user.photo_url, size: '50x50') %></td>

          <td><%= link_to "#{user.name}", user %><br>

            <% if current_user.find_all_friend_names.include?(user.name) %>
              Friends
            <% elsif current_user.pending_friendships.include?(user) %>
              Pending
            <% else %>
              <%= button_to "Add Friend", friendships_path(:friend_id => user.id), method: :post %>
            <% end %>

            <% if current_user.name == 'David Foster Wallace' %>
              [<%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>]
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  <% end %>
<% end %>