<h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
<p><%= "#{@user.email}" %></p>

<h2>Friends</h2>
<% @user.friends.each do |friend| %>
  <%= friend.first_name %> <%=friend.last_name%><br>
<% end %>