body {
  margin: 0;
  font-family: Corbel;
}

a {
  color: purple;
  text-decoration: none;
}

a:visited {
  color: purple;
}

a:hover {
  color: orange;
  transition: color .25s ease-in-out;
   -moz-transition: color .25s ease-in-out;
   -webkit-transition: color .25s ease-in-out;
}

h1 {
  margin: 0;
}

.id_bar {
  width: auto;
  height: 22px;
  padding: 0.5em;
  padding-right: 15px;
  text-align: right;
}

.header {
  width: auto;
  background-color: teal;
  height: auto;
  color: white;
  font-family: Trebuchet MS;
  padding: 1em;
}

.container {
  padding: 25px;
  padding-left: 50px;
}

.profile_info {
  float:left;
}

.profile_table td {
  padding-right: 2em;
}

.profile_wall {
  float:left;
}

.style_image {
  border: 1px solid black;
  width: 150px;
}